In [21]:
import pandas as pd

import numpy as np

In [22]:
# Asegúrate de colocar la ruta correcta del archivo CSV
file_path = 'dengue_abierto.csv'
dengue_df = pd.read_csv(file_path)

In [23]:
# Punto 2: Revisar las primeras filas del DataFrame
dengue_df.head()

,FECHA_ACTUALIZACION,ID_REGISTRO,SEXO,EDAD_ANOS,ENTIDAD_RES,MUNICIPIO_RES,HABLA_LENGUA_INDIG,INDIGENA,ENTIDAD_UM_NOTIF,MUNICIPIO_UM_NOTIF,...,INMUNOSUPR,CIRROSIS_HEPATICA,EMBARAZO,DEFUNCION,DICTAMEN,TOMA_MUESTRA,RESULTADO_PCR,ESTATUS_CASO,ENTIDAD_ASIG,MUNICIPIO_ASIG
0,2024-02-19,1304867,1,11,30,48,2,2,30,48,...,2,2,2,2,5.0,2,5,1,30,48
1,2024-02-19,1304870,2,12,25,12,2,2,25,12,...,2,2,2,2,5.0,1,5,2,25,12
2,2024-02-19,1304893,1,24,23,4,2,2,23,4,...,2,2,2,2,5.0,2,5,1,23,4
3,2024-02-19,1304896,2,38,30,206,2,2,30,206,...,2,2,2,2,5.0,1,5,1,30,206
4,2024-02-19,1304928,2,4,31,90,2,1,31,90,...,2,2,2,2,5.0,2,5,1,31,90

In [24]:
# Punto 3: Verificar y manejar los datos faltantes
dengue_df.isnull().sum()
# Si es necesario, manejar los valores NaN, por ejemplo, usando fillna() o dropna()

FECHA_ACTUALIZACION       0
ID_REGISTRO               0
SEXO                      0
EDAD_ANOS                 0
ENTIDAD_RES               0
MUNICIPIO_RES             0
HABLA_LENGUA_INDIG        0
INDIGENA                  0
ENTIDAD_UM_NOTIF          0
MUNICIPIO_UM_NOTIF        0
INSTITUCION_UM_NOTIF      0
FECHA_SIGN_SINTOMAS       0
TIPO_PACIENTE             0
HEMORRAGICOS              0
DIABETES                  0
HIPERTENSION              0
ENFERMEDAD_ULC_PEPTICA    0
ENFERMEDAD_RENAL          0
INMUNOSUPR                0
CIRROSIS_HEPATICA         0
EMBARAZO                  0
DEFUNCION                 0
DICTAMEN                  1
TOMA_MUESTRA              0
RESULTADO_PCR             0
ESTATUS_CASO              0
ENTIDAD_ASIG              0
MUNICIPIO_ASIG            0
dtype: int64

In [25]:
# Punto 4: Obtener información estadística básica sobre variables numéricas
dengue_df.describe()

,ID_REGISTRO,SEXO,EDAD_ANOS,ENTIDAD_RES,MUNICIPIO_RES,HABLA_LENGUA_INDIG,INDIGENA,ENTIDAD_UM_NOTIF,MUNICIPIO_UM_NOTIF,INSTITUCION_UM_NOTIF,...,INMUNOSUPR,CIRROSIS_HEPATICA,EMBARAZO,DEFUNCION,DICTAMEN,TOMA_MUESTRA,RESULTADO_PCR,ESTATUS_CASO,ENTIDAD_ASIG,MUNICIPIO_ASIG
count,2.656100e+04,26561.000000,26561.00000,26561.000000,26561.000000,26561.000000,26561.000000,26561.000000,26561.000000,26561.000000,...,26561.000000,26561.000000,26561.000000,26561.000000,26560.000000,26561.000000,26561.000000,26561.000000,26561.000000,26561.000000
mean,1.315828e+06,1.474380,26.36275,17.076691,31.168518,1.989910,1.987689,17.075713,33.040209,7.409096,...,1.998343,1.999322,1.987237,1.997101,4.996875,1.501412,4.823990,1.564098,17.241105,32.789729
std,8.243057e+03,0.499353,17.31796,8.058724,62.437649,0.099943,0.110273,8.065406,81.466430,5.207085,...,0.040668,0.026024,0.112253,0.053765,0.060353,0.500007,0.628519,0.777970,8.802690,75.169210
min,1.299508e+06,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.308845e+06,1.000000,12.00000,12.000000,2.000000,2.000000,2.000000,12.000000,2.000000,4.000000,...,2.000000,2.000000,2.000000,2.000000,5.000000,1.000000,5.000000,1.000000,12.000000,2.000000
50%,1.315957e+06,1.000000,23.00000,14.000000,7.000000,2.000000,2.000000,14.000000,6.000000,4.000000,...,2.000000,2.000000,2.000000,2.000000,5.000000,2.000000,5.000000,1.000000,14.000000,6.000000
75%,1.322932e+06,2.000000,38.00000,23.000000,38.000000,2.000000,2.000000,23.000000,38.000000,12.000000,...,2.000000,2.000000,2.000000,2.000000,5.000000,2.000000,5.000000,2.000000,23.000000,38.000000
max,1.329959e+06,2.000000,110.00000,35.000000,570.000000,2.000000,2.000000,32.000000,999.000000,99.000000,...,2.000000,2.000000,2.000000,2.000000,5.000000,2.000000,5.000000,3.000000,99.000000,999.000000

In [26]:
# Punto 5: Identificar variables categóricas
categorical_variables = dengue_df.select_dtypes(include=['object']).columns
categorical_variables

Index(['FECHA_ACTUALIZACION', 'FECHA_SIGN_SINTOMAS'], dtype='object')

In [ ]:
# Punto 6: Obtener las tres medidas de tendencia central de las variables numéricas
mean_values = dengue_df.mean()
mode_values = dengue_df.mode().iloc[0]
std_deviation = dengue_df.std()

In [ ]:
# Punto 7: Contar el número de casos por categoría para cada variable categórica
cases_by_category = dengue_df.groupby(categorical_variables).size()

In [ ]:
# Punto 8: Obtener el número de casos de dengue clásico y dengue hemorrágico
cases_by_dengue_type = dengue_df['tipo_dengue'].value_counts()

In [ ]:
# Punto 9: Obtener el número de pacientes que fallecieron por cada tipo de dengue y por categoría de edad
deaths_by_dengue_type = dengue_df.groupby(['tipo_dengue', 'categoria_edad'])['fallecido'].sum()

In [ ]:
# Punto 10: Visualizar la distribución de casos de dengue por categoría usando gráficos de barras
import matplotlib.pyplot as plt
import seaborn as sns

sns.countplot(x='categoria_edad', data=dengue_df, hue='tipo_dengue')
plt.title('Distribución de casos de dengue por categoría')
plt.show()

In [ ]:
# Punto 11: Visualizar el número de casos de dengue a lo largo del tiempo
# (asumiendo que hay una columna 'fecha' en el DataFrame)
dengue_df['fecha'] = pd.to_datetime(dengue_df['fecha'])
cases_over_time = dengue_df.groupby(dengue_df['fecha'].dt.month)['casos'].sum()
cases_over_time.plot(kind='bar')
plt.title('Número de casos de dengue a lo largo del tiempo')
plt.xlabel('Mes')
plt.ylabel('Número de casos')
plt.show()

In [ ]:
# Punto 12: Visualizar la distribución de casos de dengue por estados de la república mexicana
sns.countplot(x='estado', data=dengue_df)
plt.title('Distribución de casos de dengue por estados')
plt.xticks(rotation=45, ha='right')
plt.show()